[Unit]
Description=open source data visualization platform
After=network.target network-online.target elasticsearch.service
Wants=network-online.target elasticsearch.service

[Service]
Type=simple
User=elasticsearch
Group=elasticsearch
PIDFile=/var/run/kibana/running.pid
EnvironmentFile=/etc/sysconfig/kibana
ExecStart=/opt/kibana/node/bin/node /opt/kibana/src/cli

[Install]
WantedBy=multi-user.target

